﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Info boxes -->

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">USERS MANAGEMENT</h3>
            </div>
        <div class="card-body">
            <a class="btn btn-app" onclick="location.href='@Url.Action("Users", "User")'">
                <i class="fas fa-list-alt"></i> LIST
            </a>
            <a class="btn btn-app" onclick="location.href='@Url.Action("AddUser", "User")'">
                <i class="fas fa-user-plus"></i> ADD
            </a>
            <a class="btn btn-app">
                <i class="fas fa-brain disabled"></i> PROFILES
            </a>
            <a class="btn btn-app">
                <i class="fas fa-newspaper disabled"></i> REPORTS
            </a>
            <a class="btn btn-app">
                <i class="fas fa-atlas disabled"></i> CONFIG
            </a>

        </div>
        <!-- /.card-body -->
    </div>

