﻿@model WebAdmin.Models.EditUserViewModel

@{
    ViewData["Title"] = "EditUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                @{
                    await Html.RenderPartialAsync("_UserButtonsPartial");
                }
            </div>
            <div class="col-sm-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Edit</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                <div class="tab-content">
                    <div class="active tab-pane" id="settings">
                        @using (Html.BeginForm("EditUser", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                        {
                            @*<form class="form-horizontal">*@
                            @*@Html.HiddenFor(u => u.Id)*@

                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.Name, new { @class = "form-control", @placeholder = "Name", id = "inputName" })
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @placeholder = "Email", id = "inputEmail" })
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                <div class="col-sm-10">
                                    @*<input type="password" class="form-control" id="inputPassword" placeholder="Password">*@
                                    @Html.TextBoxFor(u => u.Password, new { @class = "form-control", @placeholder = "Password", id = "inputPassword" })
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputActive" class="col-sm-2 col-form-label">Active</label>
                                <div class="col-sm-10">
                                    @*<input type="checkbox"> Active*@
                                    @Html.CheckBoxFor(u => u.IsActive, new { @class = "checkbox" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputProfile" class="col-sm-2 col-form-label">Profile</label>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        @Html.RadioButtonFor(u => u.Profile, "1", new { @class = "form-check-input", @name = "Profile" }) Administrator
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        @Html.RadioButtonFor(u => u.Profile, "2", new { @class = "form-check-input", @name = "Profile" }) Employee
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        @Html.RadioButtonFor(u => u.Profile, "3", new { @class = "form-check-input checked", @name = "Profile" }) User
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-check">
                                        @Html.ValidationMessageFor(u => u.Profile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="row">
                                <div class="col-sm-10">
                                    <div id="progress" class="progress" style="display: none; height: 2px">
                                        <div id="progressbar" class="progress-bar progress-bar-striped" style="min-width: 25px; height: 2px"></div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <button type="submit" id="submit" class="btn btn-primary float-sm-right">Update</button>

                                    <button id="saving" class="btn btn-primary float-sm-right disabled" style="display: none" type="button">
                                        <span class="spinner-border spinner-border-sm disabled" role="status" aria-hidden="true"></span>
                                        <span class="sr-only">Saving</span>
                                    </button>

                                </div>
                            </div>


                        }
                        @*</form>*@
                    </div>
                    <!-- /.tab-pane -->


                </div>
                <!-- /.tab-content -->

            </div>
            @*<div class="col-sm-10">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                </div>*@
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->


    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h4 class="modal-title">@Html.DisplayTextFor(m => m.MessageTitle)</h4>

                </div>
                <div class="modal-body">
                    <p>@Html.DisplayTextFor(m => m.Message)</p>
                </div>
                <div class="modal-footer justify-content-between">
                    @Html.ActionLink("Back", "Users", "User", new { controller = "User" }, new { @class = "btn btn-default" })
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    @section Scripts
    {
        @if (Model != null && Model.Success.HasValue && Model.Success.Value)
        {
            <script>
                $('#modal').modal({ backdrop: 'static', keyboard: false });
            </script>
        }
        else if (Model != null && Model.Success.HasValue && !Model.Success.Value)
        {
            <script>
                    toastr["error"]("Something was wrong! Not updated!", "Ooops")

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "500",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            </script>
        }

        <script>

            $(document).ready(function (e) {
                e.preventDefault;
                $('#submit').click(function () {
                    $('#progress').show();
                    $('#submit').hide();
                    $('#saving').fadeIn();


                });
            });

            var i = 0;
            function makeProgress() {
                if (i < 100) {
                    i = i + 1;
                    $("#progressbar").css("width", i + "%");
                }
                // Wait for sometime before running this script again
                setTimeout("makeProgress()", 90);
            }
            makeProgress();
        </script>
        <!-- /.content -->


    }
</section>



