﻿
@{
    ViewData["Title"] = "Users management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                @{
                    await Html.RenderPartialAsync("_UserButtonsPartial");
                }
            </div>
            <div class="col-sm-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        @*@{
                Html.RenderPartialAsync("_UserButtonsPartial");
            }*@
    </div>
</section>



