﻿@model WebAdmin.Models.UserListViewModel

@{
    ViewData["Title"] = "Users management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">
                @{
                    await Html.RenderPartialAsync("_UserButtonsPartial");
                }
            </div>
            <div class="col-sm-2">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10">

                <table id="datatable" class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Active</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var user in Model.Items)
                        {
                            <tr>
                                <td>@user.Name</td>
                                <td>
                                    @user.Email
                                </td>
                                <td>@user.IsActive</td>
                                <td>@Html.ActionLink("", "Edit", new { id = user.Id }, new { @class = "fas fa fa-edit" })</td>
                                <td>@Html.ActionLink("", "Delete", new { id = user.Id }, new { @class = "fas fa fa-trash-alt" })</td>
                            </tr>

                        }

                    </tbody>
                    @*<tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Active</th>
                            </tr>
                        </tfoot>*@
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal">
        <div class="modal-dialog">
            <div class="modal-content bg-secondary">
                <div class="modal-header">
                    <h4 class="modal-title">@Html.DisplayTextFor(m => m.MessageTitle)</h4>

                </div>
                <div class="modal-body">
                    <p>@Html.DisplayTextFor(m => m.Message)</p>
                </div>
                <div class="modal-footer justify-content-between">
                    @Html.ActionLink("Back", "Users", "User", new { controller = "User" }, new { @class = "btn btn-default" })
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    @section Scripts
    {
        @if (Model != null && Model.Success.HasValue && Model.Success.Value)
        {
            <script>
                $('#modal').modal({ backdrop: 'static', keyboard: false });
            </script>
        }
        else if (Model != null && Model.Success.HasValue && !Model.Success.Value)
        {
            <script>
                toastr["error"]("Something was wrong! Not updated!", "Ooops")

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "200",
                    "hideDuration": "500",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
            </script>
        }

        <!-- /.content -->


    }
</section>
