﻿@model WebAdmin.Models.UserViewModel
{
    ViewData["Title"] = "Add User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                @{
                    await Html.RenderPartialAsync("_UserButtonsPartial");
                }
            </div>
            <div class="col-sm-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="settings">
                            @using (Html.BeginForm("AddUser", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @*<form class="form-horizontal">*@
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        @*<input type="text" class="form-control" id="inputName" placeholder="Name">*@
                                        @Html.TextBoxFor(u => u.Name, new { @class = "form-control", @placeholder = "Name", id = "inputName" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputActive" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <input type="checkbox"> Active
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Phone</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputPhone" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        @*<input type="email" class="form-control" id="inputEmail" placeholder="Email">*@
                                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @placeholder = "Email", id = "inputEmail" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputName" class="col-sm-2 col-form-label">Phone</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputPhone" placeholder="Name">
                                    </div>
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Save</button>
                               
                            }
                            @*</form>*@
                        </div>
                        <!-- /.tab-pane -->
                       
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>

